<!DOCTYPE html>

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>HTML Validations</title>
  <link rel="stylesheet" href="/stylesheets/default.css" type="text/css">
</head>

<body>
  <h1>HTML Validations</h1>
  
  <%= yield %>
  
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/validations.js"></script>  
</body>
</html>