<p>You have successfully registered!</p>

<dl class="registration">
  <dt>Login name</dt>
  <dd><%= @user.login %></dd>
  <dt>Email address</dt>
  <dd><%= @user.email %></dd>
  <dt>Display name</dt>
  <dd><%= @user.displayname %></dd>
</dl>